EXPO_PUBLIC_API_URL=https://api.maestros.cl/api/v1
EXPO_PUBLIC_WS_URL=https://api.maestros.cl/ws
EXPO_PUBLIC_USE_MOCK=false
EXPO_PUBLIC_GOOGLE_CLIENT_ID_IOS=TU_GOOGLE_CLIENT_ID_IOS.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID_ANDROID=TU_GOOGLE_CLIENT_ID_ANDROID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID_WEB=TU_GOOGLE_CLIENT_ID_WEB.apps.googleusercontent.com
